<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/c.css" %}">
    <title>Page 2</title>
</head>
<body>
   

<div class="gallery">
    <div class="item">
      <span style="background-image:url(https://images.unsplash.com/photo-1466154714956-9f5f64682fcc?ixlib=rb-0.3.5&q=40&fm=jpg&crop=entropy&s=db23742c68ac4e331416021a2cfadfac&w=1500)"></span>
    </div>
    <div class="item">
      <span style="background-image:url(https://images.unsplash.com/photo-1460400408855-36abd76648b9?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=1c9fc275d85ee05c6e64f09eff62b363&w=1500)"></span>
    </div>
    <div class="item">
      <span style="background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=61282cfeed75871385c84c2a44a8e594&w=1500)"></span>
    </div>
  </div>
  <div class="gallery">
    <div class="item">
      <span style="background-image:url(https://images.unsplash.com/photo-1462726625343-6a2ab0b9f020?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=eb6506972ee7685166b2d8b649d29a1b&w=1500)"></span>
    </div>
    <div class="item">
      <span style="background-image:url(https://images.unsplash.com/photo-1467173572719-f14b9fb86e5f?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=b734e103303c5965225682077ee72f86&w=1500)"></span>
    </div>
  </div>
  
  
</body>
</html>